#dark-blue {
	-fx-background-color: #090a0c, linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%), linear-gradient(#20262b, #191d22),
		radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
	-fx-background-radius: 5, 4, 3, 5;
	-fx-background-insets: 0, 1, 2, 0;
	-fx-text-fill: white;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0, 0, 1);
	-fx-font-family: "Arial";
	-fx-text-fill: linear-gradient(white, #d0d0d0);
	-fx-font-size: 12px;
	-fx-padding: 10 20 10 20;
}

#dark-blue Text {
	-fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.9), 1, 0, 0, 1);
}

#white-background {
	-fx-background-color: #fff;
}

#dark-blue-background {
	-fx-background-color: #090a0c, linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%), linear-gradient(#20262b, #191d22),
		radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
	-fx-background-radius: 0;
	-fx-background-insets: 0, 1, 2, 0;
	-fx-text-fill: white;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0, 0, 1);
	-fx-font-family: "Arial";
	-fx-text-fill: linear-gradient(white, #d0d0d0);
	-fx-font-size: 12px;
	-fx-padding: 3;
}

.yellow-button {
	-fx-background-color: #dbd61a;
	-fx-background-radius: 5, 4, 3, 5;
	-fx-background-insets: 0, 1, 2, 0;
	-fx-text-fill: black;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0, 0, 1);
	-fx-font-family: "Arial";
	-fx-text-fill: linear-gradient(black, #d0d0d0);
	-fx-font-size: 16px;
	-fx-padding: 10 20 10 20;
}

.yellow-button:hover {
	-fx-background-color: #fff700;
	-fx-background-radius: 5, 4, 3, 5;
	-fx-background-insets: 0, 1, 2, 0;
	-fx-text-fill: black;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 5, 0, 0, 1);
	-fx-font-family: "Arial";
	-fx-text-fill: linear-gradient(black, #d0d0d0);
	-fx-font-size: 16px;
	-fx-padding: 10 20 10 20;
}

.windows-control-button {
	-fx-padding: 1px;
	-fx-border-style: solid;
	-fx-background-color: Transparent;
}

.windows-control-button:hover {
	-fx-border-color: white;
	-fx-border-size: 1px;
	-fx-border-style: solid;
	-fx-border-radius: 2px;
}

.help-control-button {
	-fx-padding: 1px;
	-fx-background-color: Transparent;
	-fx-border-style: none;
}

.help-control-button:hover {
    -fx-opacity: 0.5;
}

.borderless {
	-fx-border-style: none;
}

.tool-tips {
	-fx-background-color: white;
	-fx-text-fill: black;
}

.font-32-bold {
	-fx-font-size: 32px;
}

.font-24-bold {
	-fx-font-size: 24px;
}

.font-20-bold {
	-fx-font-size: 20px;
}

.font-18-bold {
	-fx-font-size: 18px;
}

.font-16-bold {
	-fx-font-size: 16px;
}

.font-14-bold {
	-fx-font-size: 14px;
}
